body {
    margin: 0;
    background-color: black;
}

canvas {
    display: block;
}

.options {
    position: absolute;
}

.options label {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}